<h1>Simple Tabs</h1>

<mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      First </ng-template
    >Content
  </mat-tab>
  <mat-tab label="Second"
    ><ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
      Second </ng-template
    >Content
  </mat-tab>
</mat-tab-group>

<br />
<br />

<h1>Tabs - Stretch and Below</h1>

<mat-tab-group
  mat-stretch-tabs
  class="mat-elevation-z2"
  animationDuration="1000ms"
>
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      First </ng-template
    >Content
  </mat-tab>
  <mat-tab label="Second"
    ><ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
      Second </ng-template
    >Content
  </mat-tab>
</mat-tab-group>

<br /><br />

<mat-tab-group mat-stretch-tabs class="mat-elevation-z2" headerPosition="below">
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      First </ng-template
    >Content
  </mat-tab>
  <mat-tab label="Second"
    ><ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
      Second </ng-template
    >Content
  </mat-tab>
</mat-tab-group>

<br />
<br />

<h1>Tabs - Colors</h1>

<mat-tab-group
  mat-stretch-tabs
  class="mat-elevation-z2"
  animationDuration="1000ms"
  color="accent"
  [backgroundColor]="bgColor"
>
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      First
    </ng-template>
    <div class="mat-tab">
      <h1>Developer</h1>
      <p>
        Lorem ipsum amet nostra senectus pretium suspendisse netus vel, vivamus
        vel curabitur metus adipiscing gravida nulla blandit, scelerisque
        malesuada consequat potenti libero diam ut. eget vel id eros phasellus
        class quam imperdiet ultricies pulvinar vestibulum, metus hac et
        inceptos justo ultricies semper suspendisse dictumst, lacus habitasse
        risus eros at litora libero donec nunc. turpis accumsan nibh felis urna
        porta quam, consectetur tempor suspendisse ipsum integer, amet
        ullamcorper nisi molestie rhoncus. vitae cursus ut nec platea vulputate
        hac a imperdiet aliquam, ligula quam venenatis porta nec consectetur
        netus enim, quis nostra curae massa maecenas suspendisse etiam non.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Second"
    ><ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
      Second
    </ng-template>
    <div class="mat-tab">
      <h1>Person</h1>
      <p>
        Lorem ipsum viverra dui magna risus enim dictum lobortis blandit
        laoreet, velit et neque curabitur id curae ligula arcu pulvinar, aliquam
        fames pretium euismod rhoncus cras potenti primis vehicula. tristique
        ligula venenatis malesuada suscipit suspendisse convallis elit curabitur
        lectus, mi consectetur nostra feugiat netus aenean venenatis aliquam
        nibh posuere, nunc ac non proin mattis elit platea etiam. urna lectus
        enim massa sed nullam ante augue placerat nam, donec dapibus interdum
        fusce gravida proin conubia placerat rutrum, nec pulvinar ultricies
        interdum varius rhoncus dictum ultrices. leo dictum morbi vestibulum
        ligula suscipit vel purus, euismod dui mattis commodo quis velit
        bibendum aenean, velit laoreet quisque ullamcorper interdum nisi.
        Placerat auctor sem tellus phasellus diam nisi torquent potenti
        fringilla, ornare leo accumsan elit egestas phasellus himenaeos sagittis
        risus metus, vulputate fames morbi posuere donec pulvinar sagittis
        vehicula. quisque venenatis nunc proin odio duis volutpat orci diam
        aenean, cursus ut quisque torquent etiam platea etiam tellus dolor,
        ullamcorper sit amet aliquam vulputate quis fringilla nostra. suscipit
        ultricies etiam urna malesuada platea quam ante semper leo, lacus ut
        aenean sollicitudin dictum suspendisse nisi. id augue nostra quisque
        eleifend egestas ornare justo nullam vulputate scelerisque sapien,
        lobortis curabitur quisque aliquet quisque velit volutpat habitasse
        quisque vivamus lobortis sodales, congue inceptos facilisis fringilla
        suscipit elit sapien ullamcorper tempor viverra. Iaculis taciti
        consectetur quisque curabitur eros quis tristique tortor et scelerisque
        aptent habitant, cras feugiat dapibus donec porttitor bibendum aenean
        vivamus nunc massa tempus potenti, bibendum nunc morbi mattis hac vel
        sem porttitor viverra pretium gravida. quis sodales varius cras nec
        habitant etiam neque curabitur, dapibus enim et molestie vitae quisque
        massa, leo potenti vehicula ornare curae bibendum aliquam. sed amet
        fames in lorem in netus habitant molestie, nunc nisl iaculis ultricies
        feugiat habitasse porta pretium, congue enim placerat nunc egestas at
        quisque. posuere ac et potenti nec tempus quam neque duis mauris, ac
        volutpat suscipit aenean rhoncus fringilla conubia interdum dui, aliquam
        tempor curae venenatis nec aliquam elit inceptos. Aliquam non vulputate
        massa litora vulputate porta habitasse lacinia ante, proin vel mollis at
        nulla neque et aenean malesuada curabitur, porta facilisis laoreet
        pulvinar augue aliquet justo nullam. hac condimentum lobortis purus
        suspendisse pharetra aliquam arcu sagittis vehicula, platea molestie ut
        augue vestibulum quam semper eget massa volutpat, est diam pharetra
        risus mattis curabitur volutpat tellus. nibh quam donec faucibus diam
        curabitur integer, enim primis felis purus egestas taciti, et ipsum
        suscipit aliquet lorem. integer quisque molestie sollicitudin congue
        pretium sodales vulputate, massa adipiscing nisl metus ligula enim,
        imperdiet turpis sapien nostra fames dolor. Fermentum vivamus volutpat
        habitasse quam quisque potenti lacus aliquet mi lacus, tristique
        molestie malesuada platea vivamus tempor sollicitudin diam turpis diam,
        blandit orci est eleifend imperdiet vulputate aliquet netus mi. sociosqu
        id consequat luctus ullamcorper curae libero mauris porta litora, etiam
        malesuada aliquam fermentum tincidunt netus a consequat mauris, eros
        accumsan ornare in bibendum accumsan rhoncus aptent. risus laoreet
        blandit id magna amet quisque fames dolor habitasse, ante ligula ut
        neque nisi inceptos lorem magna iaculis, arcu aliquet massa faucibus
        aliquam sociosqu eros posuere.
      </p>
    </div>
  </mat-tab>
</mat-tab-group>
