<div id="map" style="height: 500px"></div>
<div class="float-right-map">
  <button mat-raised-button color="primary" (click)="showLegend()">
    Show Information
  </button><br>
  <button style="margin-top: 5px;" mat-raised-button color="warn" (click)="toggleBorder()">
    Hide Borders
  </button>
</div>

<div id="legendPopup" *ngIf="isLegendShow">
  <div class="legend">
    <div class="legend-item">
      <div class="legend-color" style="background-color: #6fb84c"></div>
      <div class="legend-label">No Risk</div>
    </div>
    <div class="legend-item">
      <div class="legend-color" style="background-color: #51c7fa"></div>
      <div class="legend-label">Low Risk</div>
    </div>
    <div class="legend-item">
      <div class="legend-color" style="background-color: #ffa500"></div>
      <div class="legend-label">Medium Risk</div>
    </div>
    <div class="legend-item">
      <div class="legend-color" style="background-color: #ff5b5b"></div>
      <div class="legend-label">High Risk</div>
    </div>
    <hr>
    <div class="legend-item">
      <img class="car-icon" src="assets/images/car-offline-icon.svg">
      <div style="margin-left: 7px">Offline</div>
    </div>
    <div class="legend-item">
      <img class="car-icon" src="assets/images/car-stopped-enginer-on-icon.svg">
      <div style="margin-left: 7px">Stopped with Engine On</div>
    </div>
    <div class="legend-item">
      <img class="car-icon" src="assets/images/car-moving-icon.svg">
      <div style="margin-left: 7px">Moving</div>
    </div>
  </div>
</div>
